@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,200&display=swap');

:root {
  --global-primary-color: rgb(251,211,6);
  --global-bg-color-soft: #fafafa;
  --global-radius: 8px;
  --global-border: 1px solid #06A9FB;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

