.auth-h{
  min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  *{
    font-family: 'Nunito', sans-serif;
  }
  .auth>form .auth-h>form{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  .auth>form>div, .auth-h>form>div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0px;
  }

  .auth>form>div>a, .auth-h>form>div>a{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  .auth > form > div > *:not(label){ 
  padding: 8px 0px;
}
.auth-h > form > div > *:not(label){ 
  padding: 8px 0px;
}
.auth > form > div>input,
.auth > form > div>select,
.auth-h > form > div>input,
.auth-h > form > div>select{
  padding: 8px !important;
}

.auth > form > div > div, .auth-h > form > div > div{ 
    color: var(--global-primary-color);
    font-size: 15px;
  }

.auth input{
    border-radius: var(--global-radius);
    border: var(--global-border);

}
.auth-h input{
  border-radius: var(--global-radius);
  border: var(--global-border);

}
.auth-h textarea{
  border-radius: var(--global-radius);
  border: var(--global-border);

}

.auth >form>div> button{
    margin-top: 25px;
   justify-self: center;
    transition: all 0.3s ease-out;
    background-color: var(--global-primary-color);
    border-radius: var(--global-radius);
    border:.0;
    color: white;
    padding: 10px !important;
    font-size: 16px;
    cursor: pointer;
}
.auth-h button{
  margin-top: 25px;
 
  transition: all 0.3s ease-out;
  background-color: var(--global-primary-color);
  border-radius: var(--global-radius);
  border:.0;
  color: white;
  padding: 10px !important;
  font-size: 16px;
  cursor: pointer;
}


.auth button:hover, .auth-h button:hover{
    
    color: var(--global-primary-color);
    border-radius: var(--global-radius);
    border: 1px solid var(--global-primary-color);
    background-color: white;
    padding: 10px !important;
  
    font-size: 16px;
}

.auth input.error{
    border: 1px solid red;
 }
 .error-message{
    color: red;
    
 }
.auth  span.show{
    color:  var(--global-primary-color);
}
.show:hover{
    cursor: pointer;
}
.linkTo{
    margin-top:25px;
    
}
.linkTo:link{
    text-decoration: none;
}

@media screen and (min-width: 600px){
    .auth{
      background-color: var(--global-bg-color-soft);
    }
    .auth>form, .auth-h>form{
      border: var(--global-border);
      padding: 15px;
      width: 400px;
      border-radius: var(--global-radius);
      color: rgb(11, 11, 11);
      background-color: white;
    }
    .modal-header >h1{
      color:rgb(11, 11, 11);
    }
    .modal-footer >button{
      width: 100%;
      
    }
    header > div > button{
      margin-top: 25px;
 
  transition: all 0.3s ease-out;
  background-color: var(--global-primary-color);
  border-radius: var(--global-radius);
  border:.0;
  color: white;
  padding: 10px !important;
  font-size: 16px;
  cursor: pointer;
    }
    
  }